<div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-5">
      <h1 class="display-3 fw-bold pb-4">Changelog</h1>
      <span class="fs-5 fw-light">
        <h3>Versão 1.0.1</h3>
      <ul>
        <li>Corrigido máscara de telefone. Agora o número é formatado
          corretamente. Antes: (44) 9999-99999 | Agora: (44) 99999-9999 ou (44)
          9999-9999.
        </li>
        <li>Corrigido a Dashboard, agora o gráfico "Alunos por período" e
          "Quantidade de Alunos por Turma e Período", mostrará apenas os alunos
          ativos.
        </li>
        <li>Se o status do aluno não for preenchido, o sistema irá considerar
          como ativo.</li>
        <li>Na Dashboard no campo "Quantidade de Alunos por Turma e Período",
          foi adicionada a possibilidade de exportar o gráfico em PNG, SVG ou
          CSV.</li>
      </ul>
      <br />
      <h3>Versão 1.0.2</h3>
      <ul>
        <li>Corrigido filtro "Periodo de busca".</li>
        <li>Adicionado campo "Telefone Internacional" no cadastro de alunos.</li>
      </ul>
      <br />
      <h3>Versão 1.0.3</h3>
      <ul>
        <li>Corrigido a edição do campo "Status", onde mesmo alterando seu valor
          para "ativo" ou "inativo", o mesmo permanecia inalterado</li>
      </ul>
      <br>
      <h3>Versão 1.0.4</h3>
      <ul>
        <li>Corrigido o filtro "Turma para Busca", onde caso o usuário escolhesse 1° Ano ou 2° Ano ou 3° Ano ou 4° Ano ou 5° Ano, o sistema não retornava resultados</li>
      </ul>
      </span>
    </div>
  </div>
</div>