<div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-5">
      <h1 class="display-3 fw-bold pb-4 text-danger">Erro</h1>
      <p class="fs-3 fw-light text-align-justify lh-sm" style="text-align: justify;">
        Ocorreu um erro. Por favor, tente novamente mais tarde. <br>
        Se o erro persistir, entre em contato com o administrador do sistema.
      </p>
    </div>
  </div>
</div>