<div class="container">
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h3>Escolha um tipo de relatório</h3>
        </div>
    </div>
    <form action="" method="post">
        <div class="row">
            <div class="mt-4 mb-2 col-4 form-floating">
                <select name="opcaoRelatorio" class="form-select custom-border" id="floatingSelectRelatorio"
                    aria-label="Relatorios">
                    <option selected>Escolha uma opção</option>
                    <option value="1">Alunos Ativos</option>
                    <option value="2">Alunos Inativos</option>
                    <option value="3">Alunos por período</option>
                    <option>======================</option>
                </select>
                <label for="floatingSelectRelatorio" style="left: auto;">Categoria</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-2 pb-4">
                <button type="submit" class="btn btn-dark">Gerar</button>
            </div>
        </div>
    </form>


</div>