<div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-5">
      <h1 class="display-3 fw-bold pb-4">Sobre</h1>
      <p class="fs-3 fw-light text-align-justify lh-sm" style="text-align: justify;">Estamos atualmente em processo de
        aprimoramento do gerador de fichas escolares. Caso identifique alguma sugestão ou encontre problemas (bugs)
        durante a utilização, pedimos que entre em contato com o desenvolvedor.
        <br>
        <br>
        Sua colaboração é fundamental para a melhoria contínua desta aplicação.
      </p>
      <p class="fs-5 fw-light"><a href="/changelog">Clique aqui</a> para ver as alterações do sistema.</p>
    </div>
  </div>
</div>